# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/
*.whl

# Virtual environment
env/
venv/
ENV/
env.bak/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# pyenv
.python-version

# mypy
.mypy_cache/

# pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# PyInstaller
*.manifest
*.spec

# Unit test / test output
test-output/
nosetests.xml
junit.xml

# VS Code
.vscode/

# JetBrains IDEs
.idea/
*.iml

# Mac/Linux/Windows trash files
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log

# Local configs
*.env
.env.*